Dockerfile
.dockerignore

.git
.gitignore
.gitattributes

README.md

my-portfolio/.npmrc
my-portfolio/.prettierrc
my-portfolio/.eslintrc.cjs
my-portfolio/.graphqlrc
my-portfolio/.editorconfig
my-portfolio/.svelte-kit

.vscode
.idea

my-portfolio/node_modules
my-portfolio/build
my-portfolio/package
